{% include "header.html" %}

<div class="container row">
    
    <div class="col-md">
        <h3 class='display-5'>Hi! :D<br> I am Jonathan J. Q.R.</h3>
        <p>
            I am a student at CSUMB and cohort member of CSin3. This project took a summer 
            to complete, but had me self learn Pytorch in a useful way. Hence the website. 
            I am to graduate on May 2021 and are easily entertained and enjoy Computer 
            Science, my major. I have done much more in-depth web development and felt no 
            need to display those design and web skills here. 
        </p>
        <p>
            If you find interest in this website and would like to talk to me about it please 
            go to the LinkedIn. My resume is also there if you would like to just evaluate me.
            If you would like to simply see my work please go to my Github.
        </p>
        <h3 class='display-5'>Why this?</h3>
        <p>
            Simply put I like to create and have found that I create best when I am doing so 
            for a purpose, reference LinkedIn projects for evidence. 
            Hence the reason I used Pneumonia for my dataset. There is a vast amout of people 
            with Pneumonia in my family. While my model is not the best for adults it was the 
            closest I could get and felt it enough for someone.
        </p>
    </div>
    
    <div class="col-sm my-auto">
        <a href="https://www.linkedin.com/in/jonathanquinteroramos/" target="_blank">
        <img class="row img-thumbnail" src="https://lh3.googleusercontent.com/fqYJHtyzZzA4vacRzeJoB93QNvA5-mvR-8UB5oVLxdYDSTpfLp_KgYD4IqVGJUgFEJo" style="margin-left:45px;margin-bottom:50px" alt="LinkedIn" width="65%"></a>
        <a href="https://github.com/quinterojosuej" target="_blank">
        <img class="row img-thumbnail" src="https://github.githubassets.com/images/modules/open_graph/github-mark.png" style="margin-left:45px;margin-top:50px" alt="Github" width="75%"></a>
    </div>
    
</div>


{% include "footer.html" %}