{% include "header.html" %}
    
    <body class="container">
        {% if class_name is defined %}
<!--         <h3>It is {{ class_name }}</h3> -->
            {% if class_name == 'NORMAL' %}
                <div class="alert alert-success" role="alert">
                    <h3 class="display-5">Normal</h3>
                    <p>There appears to be no pneumonia as according to the model</p>
                </div>
            {% elif class_name == 'BACTERIA' %}
                <div class="alert alert-danger" role="alert">
                    <h3 class="display-5">Bacterial Pneumonia</h3>
                    <p>There appears to be evidence for Bacterial Pneumonia, please seek 
                    help as soon as possible</p>
                </div>
            {% elif class_name == 'VIRUS' %}
                <div class="alert alert-danger" role="alert">
                    <h3 class="display-5">Viral Pneumonia</h3>
                    <p>There appears to be evidence for Viral Pneumonia, please seek 
                    help as soon as possible</p>
                </div>
            {% endif %}
        {% endif %}
    </body>
    
    <body class="container" >
        <div class="row container">
            <p>
                Hi! This is my summer project and it involved me learning 
                machine learning for something useful and meaningful.
            </p>
            <p>
                This
                website uses a model I trained to detect if an Xray shows
                Bacterial, Viral or no signs of Pneumonia in children. While Pneumonia
                may 
                not be prevalent in many ways it is relavant to me and 
                many others in the world.
            </p>
        </div>
        
        <div class="row">
            <form class="col-sm" action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input class="btn btn-info" type="submit"/>
            </form>
            <div class="col-sm">
                <p>
                    To see if an Xray has anything please upload the image.
                    Please make sure it is an image file, jpeg or jpg to be exact.
                    Furthermore, this can only take in one image at a time.
                    For more details on the data used and accuracy go to 
                    the about page.
                </p>
                <p>
                    If you find this useful and would like a better way to 
                    upload many images at a time, do contact me with the
                    contact information I provide in the about page.
                </p>
            </div>
        </div>
    </body>
    
{% include "footer.html" %}